/* ===========================================
About Section Start
======================================= */

.section-about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
}

.left {
  height: 500px;
  width: 50%;
  background-image: url("https://ik.imagekit.io/jsrsngp/vishnuji_kTc-SyQJC.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1665851769260");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.right {
  background-image: url("https://ik.imagekit.io/jsrsngp/about-section-bg_ZwsvjRZHst.jpg");
  height: 500px;
  width: 50%;
  padding: 4rem;
}

.section-about-header {
  font-size: 5rem;
  padding: 2rem 2rem;
}

.section-about-text {
  font-size: 3.2rem;
}

@media (max-width: 980px) {
  .section-about {
    flex-direction: column;
  }
  .left {
    height: 800px;
    width: 100%;
  }
  .right {
    height: 800px;
    width: 100%;
  }
}