.header {
  padding: 0 4.8rem;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #383737;
}

.header .logo {
  height: 8rem;
}

.navbar {
  display: flex;
  align-items: center;
}


.navbar-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #e4e4e4;
}

.login-btn {
  background-color: #a5d8ff; /* Bluish White */
  border: none;
  color: #212529;
  padding: 0.8rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3rem;
}

.person {
  font-size: 3.5rem;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0.3rem;
  transition: 300ms ease-in;
  color: inherit;
  background-color: #7c9bf9;
  box-shadow: 3px 3px 3px gray, -3px 3px 3px gray;
}

.person:hover {
  background: none;
  box-shadow: none;
  border: #212529 1.5px solid;
  transform: translateY(4px);
}

.mobile-navbar-btn {
  display: none;
}

.close-outline {
  display: none;
}

.mobile-navbar-btn[name="close-outline"] {
  display: none;
}

@media (min-width: 1850px) {
  .header {
    padding: 0 4.8rem;
    height: 10rem;
  }
}

@media (max-width: 980px) {
  .mobile-navbar-btn {
    display: inline-block;
    z-index: 999;
    border: #212529;
  }

  .mobile-nav-icon {
    font-size: 4.2rem;
    color: #212529;
  }

  /* Hide the original navbar menu  */

  .navbar-list {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* transform: translateX(100%); */
    display: none;
  }

  .navbar-link {
    font-size: 4.2rem;
  }

  .login-btn {
    font-size: 4.2rem;
    padding: 2rem 5rem;
  }

  .active .mobile-nav-icon {
    font-size: 4.2rem;
    position: absolute;
    top: 10%;
    right: 10%;
    color: #212529;
    z-index: 9999;
    display: none;
  }

  .active .close-outline {
    display: inline-block;
  }

  .active .navbar-list {
    visibility: visible;
    opacity: 1;
    /* transform: translateX(0); */
    display: flex;
    z-index: 999;
  }
  @media (max-width: 798px) {
    .header {
      padding: 0 1.5rem;
    }
    .header .logo {
      height: 5rem;
    }
  }
}

.navbar-link{
  color: #a4a4a4;
}